<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>dolcezampa_price_history</name>
    <displayName><![CDATA[Mlab Price History]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Tracks price changes when promotions are activated and maintains lowest price in last 30 days.]]></description>
    <author><![CDATA[Mlab]]></author>
    <tab><![CDATA[pricing_promotion]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
